<!DOCTYPE html>
<html>
  <head>
    <title>AngularJSのスゴさが伝わるデモ</title>
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css' />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1>AngularJSのスゴさが伝わるデモ</h1>

        <h2>当サイトの趣旨</h2>

        <p>AngularJS のキモは動的なデータバインディングにあり、データを変えたら View が動的に変わるということです。これをクライアントサイドのみでのデモで実感するのは難しい
        ところがあります。そこで当サイトではサーバーサイドとの通信をまじえた実用的な AngularJS のデモを構築しました</a>
        <p>(このデモサイトのサンプルコードは AngularJS と node.js で記述されています。)</p>

        <h2>デモ</h2>

        <ul>
          <li><a href="./signup">サインアップフォーム</a></li>
          <li><a href="./admin">簡単な管理画面風のデモ</a></li>
        </ul>


        <p>こちらのコードは <a href="https://github.com/tokuhirom/demo.64p.org/tree/master">github.com/tokuhirom/demo.64p.org</a>で確認できます</p>

      </div>
    </div>
  </body>
</html>
