<!DOCTYPE html>
<html>
  <head>
    <title>AngularJSのスゴさが伝わるデモ</title>
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css' />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1>AngularJSのスゴさが伝わるデモ</h1>

        <h2>当サイトの趣旨</h2>

        <p>最近、AngularJS についての解説をよくみかけるのですが、いまいち AngularJS の特性をうまく解説できていないものが多いように思います。AngularJS はサーバーサイドとの連携なども含んでこそ真価を発揮するものですが、デモの設置の簡便さを優先して、クライアントサイドのコードのみで説明しようとしているものが多いからだと思います。</p>
        <p>このデモページでは、AngularJS を実際のウェブアプリケーションで利用する際に、どのような感じになるのかを、現実的なコード例を用いて解説します。</p>
        <p>(このデモサイトのサンプルコードは AngularJS と node.js で記述されています。)</p>

        <h2>デモ</h2>

        <ul>
          <li><a href="./signup">サインアップフォーム</a></li>
          <li><a href="./admin">簡単な管理画面風のデモ</a></li>
        </ul>

      </div>
    </div>
  </body>
</html>
