<!DOCTYPE html>
<html>
  <head>
    <title>demo.64p.org</title>
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/bootstrap/3.0.1/css/bootstrap.min.css' />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1>ちょっとしたデモ</h1>

        デモを行うためのサイトです。

        <ul>
          <a href="/angularjs/">AngularJS のデモ</a>
        </ul>

      </div>
    </div>
  </body>
</html>
